#message-container {
    width: 500px;
    height: 300px;
    background-color: orange;
    font-size: 20px;
    overflow-y: scroll;
}

#message-container div {
    background-color: red;
    border: black 1px solid;
}